.startFadeInEffect,
.endFadeInEffect {
  transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1);
}

.startFadeInEffect {
  transform: translateY(120px);
  opacity: 0;
}

.endFadeInEffect {
  transform: none;
  opacity: 1;
}
